<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".../css/style.css">
    <title>SUML - Ceny Nieruchomosci w Polsce</title>
</head>
<div class="content" style="max-width: 850px; margin: auto">
    <body>
    <header>
            <h1>SUML - Ceny Nieruchomosci w Polsce</h1>
            <img src="/static/logo.png" alt="logo" id="logo">
    </header>

        <h2>What do you want to do?</h2>
        <p>
            <a href="/wyborMiasta"><button>Przejdz do cen</button></a>
        </p>
        <p>
            <a href="/update"><button>Train model</button></a>
        </p>
    </body>
</div>
</html>
