<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUML - Ceny Nieruchomosci w Polsce</title>
</head>
<body>
<div class="content" style="max-width: 850px; margin: auto">
    <header style="margin: 1rem; padding: 1rem; text-align: center;">
        <img src="/static/logo.png" alt="logo" id="logo">
        <h1 style="background-color: orange; border: 2px solid; border-radius: 2rem">SUML - Ceny Nieruchomosci w Polsce</h1>
    </header>

    <h3 style="background-color: SandyBrown; border: 2px solid; text-align: center; padding: 1rem; border-radius: 2rem">Wybrane {{ form.miasto }} tu powinno sie wyswietlic</h3 >
        <div style="display: flex; justify-content: center; flex-direction: row; align-items: center; margin-top: 5rem; margin-bottom: 4rem;">
            <h3 style="background-color: SandyBrown; border: 2px solid; text-align: center; padding: 1rem; border-radius: 2rem">Podaj Rok:</h3 >

        <form method="POST" style="display: flex; justify-content: center; flex-direction: row; align-items: center;" action="/predicted">
            {{ form.crsf_token }}
            <!-- <p> {{ form.x.label }} </p> -->
            <p style="margin-left: 2rem"> {{ form.x }} </p>
            <!-- TO TUTAJ WYZEJ LINIJKA 22 DO USUNIECIA, TRZEBA PODMIENIC ABY BRALO WARTOSC Z LISTY PONIZEJ :) -->
            <select name="rok" style="font-size: 25px; background-color: GreenYellow; padding: 1rem; border: inset; border-radius: 2rem; font-weight: bold; margin-left: 2rem">
                {% for rok in lata %}
                <option value="{{ rok }}" style="font-size: 25px">{{ rok }}</option>
                {% endfor %}
            </select>
            <input type="submit" style="background-color: GreenYellow; font-size: 20px; padding: 1rem; border: inset; border-radius: 2rem; font-weight: bold; margin-left: 2rem" value="Oblicz">
        </form>

        </div>
    </div>
</body>
<footer style="margin: 1rem; background-color: orange; padding: 1rem; text-align: center; border: 2px solid; border-radius: 2rem">
    s18391, s19573, s18443 - copyright 2022
</footer>
</html>
