<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUML - Lab 3</title>
</head>
<body>
    <h1>SUML - Lab 3</h1>
    <h3>Add new numbers to model</h3>
    <form method="POST" action="/trained">
        {{ form.crsf_token }}
        <p>{{ form.x.label }} {{ form.x }}      {{ form.y.label }} {{ form.y }} </p>
        <input type="submit" value="Update values and train model">
    </form>

</body>
</html>

